{$DOMAIN} {
    encode gzip

    @multiplayer_ws path /multiplayer /multiplayer/*
    reverse_proxy @multiplayer_ws multiplayer:5001

    @community_api path /api/community* /socket.io*
    reverse_proxy @community_api community-api:7000

    @classic_game path /index.html /multiplayer.html /favicon.ico /src* /audio* /fonts* /images* /public*
    reverse_proxy @classic_game web:8080

    reverse_proxy community-web:3000
}
